@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa&family=Roboto+Condensed&display=swap');

.janela-dia {
    display: none;
    position: absolute;
    background: #fff1dc;
    width: 333px;
    height: 460px;
    margin: 135px auto;
    border-radius: 14px 13px 0 0;
    text-align: center;
    -webkit-box-shadow: 0px 14px 42px -8px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: 0px 14px 42px -8px rgba(0, 0, 0, 0.67);
    box-shadow: 0px 14px 42px -8px rgba(0, 0, 0, 0.67);
    z-index: 2;
    animation: abrirJanela .1s linear;
}

.janela-dia_titulo {
    font-size: 21px;
    color: white;
    width: 94%;
    padding: 0px 20px 0 0;
    height: 55px;
    justify-content: space-between;
    display: flex;
    margin-bottom: 35px;
    background: var(--blue);
    border-radius: 14px 13px 0 0;
    border: 0 9px 9px 9px solid #e8d5c4;
    display: flex;
    align-items: center;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Comfortaa', cursive;
    font-family: 'Roboto Condensed', sans-serif;
}

.janela-dia_titulo>span {
    margin-left: 12px;
}

.salvar-dia img,
.salvar-dia,
.fechar-dia img,
.fechar-dia {
    width: 35px;
    height: 35px;
}
