.janela-inicio {
    width: 315px;
    height: 400px;
    background: #fff1dc;
    margin: auto;
    position: relative;
    border-radius: 14px 13px 0 0;
    -webkit-box-shadow: 0px 14px 42px -8px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: 0px 14px 42px -8px rgba(0, 0, 0, 0.67);
    box-shadow: 0px 14px 42px -8px rgba(0, 0, 0, 0.67);
    text-align: center;
}

.janela-inicio_titulo {
    width: 315px;
    height: 55px;
    background: #3a98b9;
    border-radius: 14px 13px 0 0;
    border: 0 9px 9px 9px solid #e8d5c4;
    display: flex;
    justify-content: center;
}

.janela-inicio_adicionar {
    padding: 13px;
    background: purple;
}

.janela-inicio_calendario {
    margin: 18px auto;
    width: 90%;
    height: 270px;
    background: red;
}