:root {
    --blue: #3a98b9;
    --pinkwhite: #fff1dc;
    --green: #00ff4314
}

.janela-inicio {
    width: 315px;
    height: 460px;
    background: #fff1dc;
    margin: 10px auto;
    position: relative;
    border-radius: 14px 13px 0 0;
    text-align: center;
    -webkit-box-shadow: 0px 14px 42px -8px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: 0px 14px 42px -8px rgba(0, 0, 0, 0.67);
    box-shadow: 0px 14px 42px -8px rgba(0, 0, 0, 0.67);
    z-index: 0;
}

.janela-inicio_titulo {
    width: 315px;
    height: 55px;
    margin-bottom: 35px;
    background: var(--blue);
    border-radius: 14px 13px 0 0;
    border: 0 9px 9px 9px solid #e8d5c4;
    display: flex;
    justify-content: center;
}

.janela-inicio_adicionar {
    padding: 11px;
    border-radius: 10px;
    margin: -14px auto;
    width: 75px;
    color: white;
    background: var(--blue);
}

.janela-inicio_calendario {
    margin: 37px auto 25px;
    width: 301px;
    height: 295px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: 10px 10px 20px 20px;
    box-shadow: 0px 0px 16px -10px rgba(0, 0, 0, 0.67);
}

.calendario-layout {
    display: flex;
}

.dia {
    height: 43px;
    width: 43px;
    margin-bottom: -3px;
    border-radius: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d3a57c14
}

.dia-semana {
    margin-bottom: -3px;
    border-radius: 67px;
    height: 43px;
    width: 43px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendario-layout {
    font-size: 0.75em;
    background: var(--blue);
    border-radius: 10px 10px 0 0;
}

.foco {
    background: var(--blue) !important
}

.janela-inicio_mes {
    width: 230px;
    height: 32px;
    margin: -25px auto -27px auto;
    font-size: 20px;
    color: white;
    z-index: 2;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: 0px 4px 28px -11px rgba(0, 0, 0, 0.67)
}

.janela-inicio_mes p,
.janela-inicio_mes a {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

a.mes-botao {
    width: 34px;
    height: 32px;
    background: var(--blue);
}

.janela-inicio p {
    height: 100%;
    width: 160px;
    background: var(--blue);
}

.a {
    border-radius: 10px 0 0 10px;
}

.b {
    border-radius: 0 10px 10px 0;
}

.presente {
    background: #00bdff80
}

.foco {
    background: var(--blue)
}

.mesAnterior,
.mesProximo {
    color: #d1cbcb
}

.mesAtual {
    color: black
}

.outside {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%
}

.anotado {
    background: #93e3ff3b
}