body {
    background: #eeeeee;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa&family=Roboto+Condensed&display=swap');

* {
    font-family: 'Bebas Neue', cursive !important;
    font-family: 'Comfortaa', cursive !important;
    font-family: 'Roboto Condensed', sans-serif !important;
    user-select: none !important;
}

main{
    display: flex;
    justify-content: center;
}

.blur{
    animation: linear blur 0.3s;
    filter: blur(4px);
}

@keyframes blur {
    0%{
        filter: blur(0px)
    }
    100%{
        filter: blur(4px)
    }
}

@keyframes abrirJanela {
    0%{
        opacity: 0%
    }
    100%{
        opacity: 100%;
    }
}